@use "./variables.scss";
@use "./components/header.scss";
@use "./components/signup";
@use "./components/book";
@use "./components/create-book";
@use "./components/user-list";

@use "./pages/auth.scss";
@use "./pages/book-page";
@use "./pages/authors-page";
@use "./pages/profile-page";
@use "./pages/loans-page";
@use "./pages/cart-page";
@use "./pages/author-page";
@use "./pages/genre-page";

@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: "poppins";
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


.page {
    display:flex;
}


button {
  margin: 0.75rem 0;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border:none;
  cursor: pointer;
  background-color: $primary;
  color:white;
  font-size:0.9rem;
}

form {
  input  {
    padding: 0.4rem 1rem;
    border: 1px $gray solid;
  }
  
}

.top {
  margin-left: $margin-left;
  padding-top:1rem;
}