@import "../variables.scss";

.author-page {
  margin-left: $margin-left;
  padding-top: 1.5rem;
  display: flex;
  .img-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }
    h2 {
      margin-top: 0.5rem;
    }
  }
  button {
    width: 100px;
    margin: 0.2rem;
  }
}

.author-page__books-wrapper {
  margin-left: 5rem;
}

.author-page__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 150px;
  }
}
