@import "../variables.scss";

.authors-page {
    margin-left:$margin-left;
    padding-top:2rem;
}

.authors-page__authors {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top:1rem;
}

.authors-page__author{
    display:flex;
    flex-direction: column;
    align-items:center;
}


.authors-page__author-image {
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit:cover;
}