@import "../variables.scss";

.auth {
    display:flex;
    margin-left:300px;
    h1 {
        font-size:2rem;
        margin-bottom:0.75rem;
    }
}

.auth-wrapper {
    display:flex;
    border-radius: 0.5rem;
    margin-top:10%;
}

.auth-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:$primary;
    justify-content: center;
    button {
        margin-top:1rem;
        background-color:white;
        color:$primary;
        width:200px;
    }
}

form {
    display:flex;
    flex-direction: column;
    width:550px;
    padding: 0 3rem;
    input {
        margin: 0.2rem;
        border-radius: 0.2rem;
        padding: 0.4rem 1rem;
        border:1px $gray solid;
        font-size:0.9rem;
    }
}

