@import "../variables.scss";

.bookList {
  margin-left: $margin-left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap:1rem;
}

.bookList__book {
  display: flex;
  flex-direction: column;
}

.bookList__add-book {
  width:150px;
  font-size:0.75rem;
}