@import "../variables.scss";

.bookList {
  margin-left: $margin-left;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap:1rem;
  @media(max-width: 768px) {
    margin-left:$margin-left-mobile;
    grid-template-columns: repeat(3, 1fr);
    gap:0.5rem;
  }
}

.bookList__book {
  display: flex;
  flex-direction: column;
}

.bookList__add-book {
  width:150px;
  font-size:0.75rem;
}

.no-books {
  margin-left:$margin-left;
}