@import "../variables.scss";

footer {
    display:flex;
    background-color: $primary-desaturated;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
    p {
        margin:0.5rem 3rem;
        color:white;
    }

    a{
        text-decoration:underline;
        &:hover {
            color:white;
        }
    }
}